{% extends 'base.html' %}
{% load static %}
{% block title %}
    TKR COLLEGE OF ENGINEERING
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'signin.css' %}">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock %}
{% block content %}
    <main class="form-signin">
        <img class="mb-4" src="{% static 'images/tkr-logo.png' %}" alt="college-logo" width=100% height="67">
        <h1 class="h3 mb-3 fw-normal"><center>Please sign in</center></h1>
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <a style="text-decoration:none;" href="{% url 'mentorLogin' %}" class="card-header btn-outline-success"><center>Mentor Login</center></a>
            <a style="text-decoration:none;" href="{% url 'studentLogin' %}" class="card-header btn-outline-success"><center>Student Login</center></a>
          </ul>
        </div>
        <p class="mt-5 mb-3 text-muted"><center>&copy; 2002-2021</center>
    </main>
{% endblock %}
